<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>炫彩光线免抠素材免费下载_91素材网51yuansu.com</title>
	<meta name="keywords"
	content="jQuery特效,网站模板,商城模板,网页特效" />
<meta name="description" content="91素材网主要收集jQuery网页特效、jQuery网页代码、网站模板、网页模板、企业模板、商城模板、图标等素材，为html网站模板开发人员提供高效率的工作方式。" />
	<link rel="stylesheet" type="text/css" href="css/box-public.css?v=115" />
	<link rel="stylesheet" type="text/css" href="css/show-v2.css?v=115" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<link rel="stylesheet" type="text/css" href="css/base.css?v=115" />
	<script type="text/javascript" src="js/jquery.min.js?v=115"></script>
	<script type="text/javascript" src="js/base.js?v=115"></script>
	<script type="text/javascript" src="js/ZeroClipboard.js?v=115"></script>
	<script>			var _domain = 'http://';
	</script>
</head>

<body style="min-width:1200px;">
	<div id="header-wrap" class="header-wrap">

		<div class="content-flexible">
			<div class="header-logo-wrap">
				<a href="./index.html" title="91素材网">91素材网</a>
			</div>
			<ul class="header-list">
				<li class="bcat-li"><a class="bcat-li-a" href="./index.html">首页</a>
					<div class="bcat-h-wrap">
						<a href="">漂浮元素</a>
						<a href="">装饰元素</a>
						<a href="">节日元素</a>
						<a href="">手绘/卡通</a>
						<a href="">字体元素</a>
						<a href="">标签元素</a>
						<a href="">图标元素</a>
						<a href="">背景元素</a>
						<a href="">动植物元素</a>
						<a href="">其他元素</a>
					</div>
				</li>
				<li class="bcat-li bbcat-h" style="margin-left:25px;"><a class="bcat-li-a" href="./list.html">网络代码</a>
					<div class="bcat-h-wrap">
						<a href="">扁平/简约</a>
						<a href="">商务/科技</a>
						<a href="">文艺/清新</a>
						<a href="">卡通/手绘</a>
						<a href="">质感/纹理</a>
						<a href="">摄影/风景</a>
						<a href="">电商/狂欢</a>
						<a href="">复古/中国风</a>
						<a href="">另类/其他</a>
					</div>
				</li>
				<li style="margin-left:25px;"><a class="bcat-li-a" href="./list2.html"
						onclick="statistNav(1);">桌面壁纸</a><span class="header-zhe-icon"></span></li>
				<li style="margin-left:25px;"><a class="bcat-li-a" href="">VIP站区</a><span
						class="header-hot-icon"></span></li>
				<li style="margin-left:25px;"><a class="bcat-li-a" href="">素材定做</a></li>
			</ul>
			<div class="login-info">
				<ul class="user-login">
					<li class="mr10"><a href="javascript:void(0);" title="登录" class="header-login-bt"
							onclick="loginBoxShow();"><span>登录</span></a></li>
					<li><a href="javascript:void(0);" title="注册" class="header-reg-bt" onclick="regBoxShow();">1秒注册</a>
					</li>
				</ul>
			</div>
			<div class="header-right-icons-wrap">
				<a class="header-right-icona" href=""><i class="header-ricon-i1" title="赞助VIP"></i>
					<p>
						VIP
					</p>
				</a><a class="header-right-icona" href="./upload.html" title="上传作品"><i class="header-ricon-i2"></i>
					<p>
						上传
					</p>
				</a>
			</div>
		</div>
	</div>

	<div class="page-top-search">
		<div class="w1200">
			<div class="pt-search-wrap">
				<ul class="pt-search-table">
					<li class="pt-search-t1 pt-current1"><a href="javascript:void(0);" data-id="1">元素</a></li>
					<li class="pt-search-t2 "><a href="javascript:void(0);" data-id="2">背景</a></li>
				</ul>
				<form class="pt-search-box">
					<input type="text" name="pt-search-word" class="pt-search-w1 search-keyword" autocomplete="off"
						value=""><input type="button" name="pt-search-submit" class="pt-search-s1 search-submit-btn"
						value="搜元素" data-id="1">
				</form>
			</div>
		</div>
	</div>
	<div class="content-wrap">
		<div class="w1200">
			<div class="crumbs">
				<h3><span class="pos-icon"></span><a href="">&nbsp;首页</a><span>&nbsp;>&nbsp;</span><a
						href="">元素搜索</a><span>&nbsp;>&nbsp;炫彩光线</span></h3>
			</div>
			<div class="content-item">
				<div class="content-i-l show-conent-box-shadow">
					<div class="s-title">
						<h3>炫彩光线</h3>
						<div class="pic-op-info">
							<span class="view-p-i" title="浏览数">2395</span><span class="down-p-i"
								title="下载数">2065</span><span class="keep-p-i" title="收藏数">311</span>
						</div>
					</div>
					<div class="img-wrap">
						<img class="show-image" src="img/58c7bb370aa42_610.jpg" alt="炫彩光线"
							style="margin-left:9.5px;margin-top:9.5px;width:591px;height:591px;">
					</div>
					<div class="keyword-field">
						<p>
							关键词&nbsp;:&nbsp;光线,光点,光源
						</p>
					</div>
					<div class="declare-pos">
						<p>
							[声明]&nbsp;91素材网所有素材为用户免费分享产生，若发现您的权利被侵害，请联系客服QQ:373604177，我们尽快处理。<a class="s-feedback"
								href="javascript:void(0);">举报</a>
						</p>
					</div>
				</div>
				<div class="content-i-r show-conent-box-shadow">
					<div class="show-pic-operate">
						<a href="javascript:void(0);" data-id="eelvulkzlp" title="下载透明PNG"
							class="p-down-operate operate-shadow log-cl" style="width: 126px;">下载透明PNG</a><a
							href="javascript:void(0);" data-id="eelvulkzlp" title="收藏"
							class="p-keep-operate operate-shadow p-unkeep log-cl">收藏</a>
					</div>
					<div class="pic-share">
						<p class="show-cr-title">
							素材分享
						</p>
						<div class="bdsharebuttonbox" data-tag="share_1">
							<a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#"
								class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_qzone"
								data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina"
								title="分享到新浪微博"></a>
						</div>
					</div>
					<div class="pic-info">
						<p class="show-cr-title">
							素材信息
						</p>
						<p class="show-info-item">
							<span>编号&nbsp;:&nbsp;</span><span class="rv">eelvulkzlp</span>
						</p>
						<p class="show-info-item">
							<span>格式&nbsp;:&nbsp;</span><span class="rv">png</span>
						</p>
						<p class="show-info-item">
							<span>尺寸&nbsp;:&nbsp;</span><span class="rv">591*591px</span>
						</p>
						<p class="show-info-item">
							<span>分辨率&nbsp;:&nbsp;</span><span class="rv">72dpi</span>
						</p>
						<p class="show-info-item">
							<span>上传时间&nbsp;:&nbsp;</span><span class="rv">2017-03-20</span>
						</p>
					</div>
				</div>
			</div>
			<div class="similar-content">
				<h4 id="similar">查看更多推荐</h4>
				<div class="f-content" id="f-content">
					<div class="i-flow-item box-shadow">
						<div class="img-out-wrap" style="">
							<a class="img-wrap" href=""><img class="lazy"
									src="https://icon.51yuansu.com/component/base/img/lazy.png"
									data-src="http://pic.51yuansu.com/pic3/cover/00/80/12/58c7bb30f1cdf_610.jpg!/fw/260/quality/90/unsharp/true/compress/true"
									alt="星光" style="width:260px;height:427.92873051225px;"></a>
							<div class="p-pic-operate-wrap">
								<a href="javascript:void(0);" data-id="rjsvivnzew" title="收藏"
									class="p-keep-operate operate-shadow p-unkeep log-cl"></a><a
									href="javascript:void(0);" data-id="rjsvivnzew" title="下载透明PNG"
									class="p-down-operate operate-shadow log-cl">透明PNG</a>
							</div>
						</div>
						<p class="i-title-wrap">
							<a href="" class="i-title" title="星光">星光(449x739)</a>
						</p>
						<div class="i-p-op">
							<div class="i-op-k">
								<a href="javascript:void(0);" class="p-keep-operate op-k-wrap p-unkeeplog-cl"
									data-id="rjsvivnzew"><span>收藏&nbsp;3</span></a>
							</div>
							<span class="line-hold"></span>
							<div class="i-op-d">
								<a href="javascript:void(0);" class="op-d-wrap p-down-operate log-cl"
									data-id="rjsvivnzew"><span>下载&nbsp;22</span></a>
							</div>
						</div>
					</div>
					<div class="i-flow-item box-shadow">
						<div class="img-out-wrap" style="">
							<a class="img-wrap" href=""><img class="lazy"
									src="https://icon.51yuansu.com/component/base/img/lazy.png"
									data-src="http://pic.51yuansu.com/pic/cover/00/04/82/5737082ec9846_610.jpg!/fw/260/quality/90/unsharp/true/compress/true"
									alt="粉红玫瑰花花瓣漂浮装饰"
									style="margin-top:31.900921658986px;width:260px;height:196.19815668203px;"></a>
							<div class="p-pic-operate-wrap">
								<a href="javascript:void(0);" data-id="lqrjvmuoon" title="收藏"
									class="p-keep-operate operate-shadow p-unkeep log-cl"></a><a
									href="javascript:void(0);" data-id="lqrjvmuoon" title="下载透明PNG"
									class="p-down-operate operate-shadow log-cl">透明PNG</a>
							</div>
						</div>
						<p class="i-title-wrap">
							<a href="" class="i-title" title="粉红玫瑰花花瓣漂浮装饰">粉红玫瑰花花瓣漂浮装饰(1736x1310)</a>
						</p>
						<div class="i-p-op">
							<div class="i-op-k">
								<a href="javascript:void(0);" class="p-keep-operate op-k-wrap p-unkeeplog-cl"
									data-id="lqrjvmuoon"><span>收藏&nbsp;2029</span></a>
							</div>
							<span class="line-hold"></span>
							<div class="i-op-d">
								<a href="javascript:void(0);" class="op-d-wrap p-down-operate log-cl"
									data-id="lqrjvmuoon"><span>下载&nbsp;16827</span></a>
							</div>
						</div>
					</div>
					<div class="i-flow-item box-shadow">
						<div class="img-out-wrap" style="">
							<a class="img-wrap" href=""><img class="lazy"
									src="https://icon.51yuansu.com/component/base/img/lazy.png"
									data-src="http://pic.51yuansu.com/pic3/cover/00/61/28/58784ffda0825_610.jpg!/fw/260/quality/90/unsharp/true/compress/true"
									alt="创意水彩手绘粉红色的桃花" style="width:260px;height:462.77652370203px;"></a>
							<div class="p-pic-operate-wrap">
								<a href="javascript:void(0);" data-id="jvqqgkxhnt" title="收藏"
									class="p-keep-operate operate-shadow p-unkeep log-cl"></a><a
									href="javascript:void(0);" data-id="jvqqgkxhnt" title="下载透明PNG"
									class="p-down-operate operate-shadow log-cl">透明PNG</a>
							</div>
						</div>
						<p class="i-title-wrap">
							<a href="" class="i-title" title="创意水彩手绘粉红色的桃花">创意水彩手绘粉红色的桃花(1772x3154)</a>
						</p>
						<div class="i-p-op">
							<div class="i-op-k">
								<a href="javascript:void(0);" class="p-keep-operate op-k-wrap p-unkeeplog-cl"
									data-id="jvqqgkxhnt"><span>收藏&nbsp;1525</span></a>
							</div>
							<span class="line-hold"></span>
							<div class="i-op-d">
								<a href="javascript:void(0);" class="op-d-wrap p-down-operate log-cl"
									data-id="jvqqgkxhnt"><span>下载&nbsp;9393</span></a>
							</div>
						</div>
					</div>
					<div class="i-flow-item box-shadow">
						<div class="img-out-wrap" style="">
							<a class="img-wrap" href=""><img class="lazy"
									src="https://icon.51yuansu.com/component/base/img/lazy.png"
									data-src="http://pic.51yuansu.com/pic/cover/00/00/35/56efd48d7e5bd_610.jpg!/fw/260/quality/90/unsharp/true/compress/true"
									alt="桃花png免扣素材" style="width:260px;height:507.76470588235px;"></a>
							<div class="p-pic-operate-wrap">
								<a href="javascript:void(0);" data-id="rcjjjvxoyu" title="收藏"
									class="p-keep-operate operate-shadow p-unkeep log-cl"></a><a
									href="javascript:void(0);" data-id="rcjjjvxoyu" title="下载透明PNG"
									class="p-down-operate operate-shadow log-cl">透明PNG</a>
							</div>
						</div>
						<p class="i-title-wrap">
							<a href="" class="i-title" title="桃花png免扣素材">桃花png免扣素材(595x1162)</a>
						</p>
						<div class="i-p-op">
							<div class="i-op-k">
								<a href="javascript:void(0);" class="p-keep-operate op-k-wrap p-unkeeplog-cl"
									data-id="rcjjjvxoyu"><span>收藏&nbsp;1462</span></a>
							</div>
							<span class="line-hold"></span>
							<div class="i-op-d">
								<a href="javascript:void(0);" class="op-d-wrap p-down-operate log-cl"
									data-id="rcjjjvxoyu"><span>下载&nbsp;6419</span></a>
							</div>
						</div>
					</div>
					<div class="i-flow-item box-shadow">
						<div class="img-out-wrap" style="">
							<a class="img-wrap" href=""><img class="lazy"
									src="https://icon.51yuansu.com/component/base/img/lazy.png"
									data-src="http://pic.51yuansu.com/pic3/cover/00/68/81/58a6dd052d42e_610.jpg!/fw/260/quality/90/unsharp/true/compress/true"
									alt="飞舞的樱花瓣" style="margin-top:43.6px;width:260px;height:172.8px;"></a>
							<div class="p-pic-operate-wrap">
								<a href="javascript:void(0);" data-id="sjslguugbd" title="收藏"
									class="p-keep-operate operate-shadow p-unkeep log-cl"></a><a
									href="javascript:void(0);" data-id="sjslguugbd" title="下载透明PNG"
									class="p-down-operate operate-shadow log-cl">透明PNG</a>
							</div>
						</div>
						<p class="i-title-wrap">
							<a href="" class="i-title" title="飞舞的樱花瓣">飞舞的樱花瓣(650x432)</a>
						</p>
						<div class="i-p-op">
							<div class="i-op-k">
								<a href="javascript:void(0);" class="p-keep-operate op-k-wrap p-unkeeplog-cl"
									data-id="sjslguugbd"><span>收藏&nbsp;563</span></a>
							</div>
							<span class="line-hold"></span>
							<div class="i-op-d">
								<a href="javascript:void(0);" class="op-d-wrap p-down-operate log-cl"
									data-id="sjslguugbd"><span>下载&nbsp;6378</span></a>
							</div>
						</div>
					</div>
					<div class="i-flow-item box-shadow">
						<div class="img-out-wrap" style="">
							<a class="img-wrap" href=""><img class="lazy"
									src="https://icon.51yuansu.com/component/base/img/lazy.png"
									data-src="http://pic.51yuansu.com/pic/cover/00/03/27/571d72c2d673d_610.jpg!/fw/260/quality/90/unsharp/true/compress/true"
									alt="水珠滴落不规则漂浮" style="width:260px;height:433.46504559271px;"></a>
							<div class="p-pic-operate-wrap">
								<a href="javascript:void(0);" data-id="sjrrjhxffh" title="收藏"
									class="p-keep-operate operate-shadow p-unkeep log-cl"></a><a
									href="javascript:void(0);" data-id="sjrrjhxffh" title="下载透明PNG"
									class="p-down-operate operate-shadow log-cl">透明PNG</a>
							</div>
						</div>
						<p class="i-title-wrap">
							<a href="" class="i-title" title="水珠滴落不规则漂浮">水珠滴落不规则漂浮(658x1097)</a>
						</p>
						<div class="i-p-op">
							<div class="i-op-k">
								<a href="javascript:void(0);" class="p-keep-operate op-k-wrap p-unkeeplog-cl"
									data-id="sjrrjhxffh"><span>收藏&nbsp;612</span></a>
							</div>
							<span class="line-hold"></span>
							<div class="i-op-d">
								<a href="javascript:void(0);" class="op-d-wrap p-down-operate log-cl"
									data-id="sjrrjhxffh"><span>下载&nbsp;4428</span></a>
							</div>
						</div>
					</div>
					<div class="i-flow-item box-shadow">
						<div class="img-out-wrap" style="height:550px;">
							<a class="img-wrap" href=""><img class="lazy"
									src="https://icon.51yuansu.com/component/base/img/lazy.png"
									data-src="http://pic.51yuansu.com/pic3/cover/00/68/82/58a6dd0627970_610.jpg!/fw/260/quality/90/unsharp/true/compress/true"
									alt="樱花花朵" style="width:260px;height:584.97052154195px;"></a>
							<div class="p-pic-operate-wrap">
								<a href="javascript:void(0);" data-id="jreraiiabo" title="收藏"
									class="p-keep-operate operate-shadow p-unkeep log-cl"></a><a
									href="javascript:void(0);" data-id="jreraiiabo" title="下载透明PNG"
									class="p-down-operate operate-shadow log-cl">透明PNG</a>
							</div>
							<span class="pic-stop"></span>
						</div>
						<p class="i-title-wrap">
							<a href="" class="i-title" title="樱花花朵">樱花花朵(2205x4961)</a>
						</p>
						<div class="i-p-op">
							<div class="i-op-k">
								<a href="javascript:void(0);" class="p-keep-operate op-k-wrap p-unkeeplog-cl"
									data-id="jreraiiabo"><span>收藏&nbsp;537</span></a>
							</div>
							<span class="line-hold"></span>
							<div class="i-op-d">
								<a href="javascript:void(0);" class="op-d-wrap p-down-operate log-cl"
									data-id="jreraiiabo"><span>下载&nbsp;4206</span></a>
							</div>
						</div>
					</div>
					<div class="i-flow-item box-shadow">
						<div class="img-out-wrap" style="">
							<a class="img-wrap" href=""><img class="lazy"
									src="https://icon.51yuansu.com/component/base/img/lazy.png"
									data-src="http://pic.51yuansu.com/pic2/cover/00/53/52/58212f0ce4160_610.jpg!/fw/260/quality/90/unsharp/true/compress/true"
									alt="红色梅花花枝手绘插画" style="width:260px;height:390px;"></a>
							<div class="p-pic-operate-wrap">
								<a href="javascript:void(0);" data-id="rvcvdxpogp" title="收藏"
									class="p-keep-operate operate-shadow p-unkeep log-cl"></a><a
									href="javascript:void(0);" data-id="rvcvdxpogp" title="下载透明PNG"
									class="p-down-operate operate-shadow log-cl">透明PNG</a>
							</div>
						</div>
						<p class="i-title-wrap">
							<a href="" class="i-title" title="红色梅花花枝手绘插画">红色梅花花枝手绘插画(600x900)</a>
						</p>
						<div class="i-p-op">
							<div class="i-op-k">
								<a href="javascript:void(0);" class="p-keep-operate op-k-wrap p-unkeeplog-cl"
									data-id="rvcvdxpogp"><span>收藏&nbsp;684</span></a>
							</div>
							<span class="line-hold"></span>
							<div class="i-op-d">
								<a href="javascript:void(0);" class="op-d-wrap p-down-operate log-cl"
									data-id="rvcvdxpogp"><span>下载&nbsp;3905</span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="i-find-more">
					<a href="">发现更多</a>
				</div>
			</div>
		</div>
	</div>
	<div class="show-feedback-wrap">
		<div class="show-feedback-bg">
		</div>
		<div class="show-feedback-box">
			<h4>举报作品</h4>
			<div class="feedback-content">
				<div class="feedback-reason">
					<p class="fb-reason-p">
						举报理由&nbsp;:&nbsp;
					</p>
					<ul>
						<li><input type="checkbox" name="fb-reason" class="fb-reason" value="1">
							<p>
								素材不清晰或素材重复
							</p>
						</li>
						<li><input type="checkbox" name="fb-reason" class="fb-reason" value="2">
							<p>
								素材违规违反相关法律
							</p>
						</li>
						<li><input type="checkbox" name="fb-reason" class="fb-reason" value="3">
							<p>
								源文件不分层或损坏
							</p>
						</li>
						<li><input type="checkbox" name="fb-reason" class="fb-reason" value="4">
							<p>
								预览图与源文件不符
							</p>
						</li>
						<li><input type="checkbox" name="fb-reason" class="fb-reason" value="5">
							<p>
								不能下载PNG/JPG/源文件
							</p>
						</li>
					</ul>
					<textarea name="fb-reason-detail" class="fb-reason-detail" placeholder="可在此详细描述您的问题"></textarea>
				</div>
				<div class="feedback-connect">
					<p class="fb-reason-p">
						您的QQ号/手机号&nbsp;:&nbsp;
					</p>
					<input type="text" name="fb-connect-qq" class="fb-connect-qq" placeholder="留下QQ号方便我们联系您。">
				</div>
				<a class="feedback-submit-btn" href="javascript:void(0);" data-id="eelvulkzlp" data-type="1">提交反馈</a>
				<style>
					.fb-reason-p {
						font-size: 16px;
						color: #464646;
						margin-bottom: 17px;
						text-align: left;
					}

					.feedback-reason li {
						width: 100%;
						margin-bottom: 17px;
						font-size: 14px;
						color: #464646;
						height: 18px;
					}

					.feedback-reason li .fb-reason {
						margin-right: 9px;
						width: 18px;
						height: 18px;
						display: inline-block;
						float: left;
						cursor: pointer;
					}

					.feedback-reason li p {
						line-height: 18px;
						display: inline-block;
						float: left;
						text-align: left;
					}

					.fb-reason-detail {
						width: 96%;
						height: 68px;
						resize: none;
						padding: 5px;
					}

					.feedback-connect {
						margin-top: 10px;
					}

					.fb-connect-qq {
						width: 96%;
						height: 30px;
						padding: 5px;
					}

					.feedback-submit-btn {
						width: 138px;
						height: 39px;
						margin: 0px auto;
						display: inline-block;
						line-height: 39px;
						background-color: #F4543C;
						color: #fff;
						text-align: center;
						font-size: 16px;
						margin-top: 17px;
					}

					.feedback-submit-btn:hover {
						background-color: #FF7460;
					}
				</style>
				<script>
					$(function () {
						$('.feedback-submit-btn').bind('click', function () {
							var id = $(this).data('id');
							var ftype = $(this).data('type');
							var reason = [];
							$('.fb-reason:checked').each(function (index, item) {
								reason.push($(this).val());
							});
							var reason_detail = $('.fb-reason-detail').val();
							var qq = $('.fb-connect-qq').val();
							$.ajax({ url: _domain + 'index.php?m=feedBack&a=save', dataType: 'json', type: 'post', data: { id: id, reason: reason.join('#'), dreason: reason_detail, qq: qq, ftype: ftype } })
								.success(function (data) {
									if (data.status != 0) {
										alert(data.info);
									} else {
										alert('反馈成功');
										$('.fb-reason:checked').attr("checked", false);
										$('.fb-reason-detail').val('');
										$('.fb-connect-qq').val('');
										$('.show-feedback-wrap').hide();
									}
								})
								.fail(function (data) {
								});
						});
					})
				</script>
			</div>
			<span class="show-fb-close" title="关闭"></span>
		</div>
	</div>

	<script>
		$(function () {
			$('.show-fb-close,.show-feedback-bg').bind('click', function () {
				$('.show-feedback-wrap').hide();
			});
			$('.s-feedback').bind('click', function () {
				$('.show-feedback-wrap').show();
			});
		});
	</script>

	<div class="reg-alert" rel="nofollow">
		<div class="reg-alert-bg">
		</div>
		<div class="reg-alert-wrap">
			<div class="reg-alert-t">
				<span class="reg-alert-del" title="关闭"></span>
				<div class="reg-word-logo">
				</div>
				<div class="l-alert-t-kh">
					<div class="l-alert-phl">
					</div>
					<p style="width:182px;text-align:center;">
						用第三方帐号注册91素材网
					</p>
					<div class="l-alert-ph">
					</div>
				</div>
			</div>
			<div class="reg-alert-c">
				<a href="javascript:void(0);" title="qq注册" class="reg-qq-icon" onclick="loginByQQ();"></a>
				<p>
					QQ一键注册
				</p>
			</div>
			<div class="reg-alert-b">
				<p class="reg-alert-login">
					已有账号?<a href="javascript:void(0);" class="switch-to-login">登录到91素材网</a>
				</p>
			</div>
		</div>
	</div>
	<div class="login-alert" rel="nofollow">
		<div class="reg-alert-bg">
		</div>
		<div class="reg-alert-wrap">
			<div class="reg-alert-t">
				<span class="reg-alert-del" title="关闭"></span>
				<div class="login-word-logo">
				</div>
				<div class="l-alert-t-kh">
					<div class="l-alert-phl">
					</div>
					<p>
						使用第三方帐号登录
					</p>
					<div class="l-alert-ph">
					</div>
				</div>
			</div>
			<div class="login-alert-c">
				<a href="javascript:void(0);" title="qq注册" onclick="loginByQQ();" class="login-qq-icon"></a>
			</div>
			<div class="l-alert-t-kh">
				<div class="l-alert-phl">
				</div>
				<p>
					使用绑定邮箱登录
				</p>
				<div class="l-alert-ph">
				</div>
			</div>
			<form class="email-login-form">
				<input type="text" name="login-email" placeholder="请输入您的绑定邮箱" class="login-email-input"><input
					type="password" name="login-pwd" placeholder="请输入密码" class="login-pwd-input"><a
					href="javascript:void(0);" class="login-email-btn">登录</a>
			</form>
			<div class="login-alert-bottom">
				<div class="login-alert-bottom-wrap">
					<a href="javascript:void(0);" class="login-alert-fpwd">忘记密码?</a>
					<p>
						还没有帐号？<a href="javascript:void(0);" class="switch-to-reg">点击注册?</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="dialog-alert">
		<div class="dialog-alert-bg">
		</div>
		<div class="dialog-alert-wrap">
			<h4>提示</h4>
			<div class="dialog-alert-content">
				<p class="dialog-content-info">
					<span class="ic-info-icon"></span><span class="ic-info-info"></span>
				</p>
				<div class="dialog-verify-wrap">
					<a href="javascript:void(0);" class="dialog-verify-fresh">换一张?</a><img class="dialog-verify-img"
						src="http://www.51yuansu.com/?m=login&a=verifycode" alt="" title="点击刷新验证码">
					<form class="dialog-verfiy-form">
						<input type="text" name="dialog-verfiy-code" placeholder="请输入验证码" class="dialog-verfiy-input">
					</form>
				</div>
			</div>
			<div class="dialog-alert-bottom">
				<a href="javascript:void(0);" class="dialog-btn">确定</a><span class="dialog-error"></span>
			</div>
			<span class="dialog-alert-del" title="关闭"></span>
		</div>
	</div>
	<div class="find-pwd-alert">
		<div class="find-pwd-bg">
		</div>
		<div class="find-pwd-wrap">
			<div class="find-pwd-t">
				<span class="find-pwd-del" title="关闭"></span>
				<div class="login-word-logo">
				</div>
				<div class="find-pwd-t-kh">
					<div class="find-pwd-phl">
					</div>
					<p>
						找回密码
					</p>
					<div class="find-pwd-ph">
					</div>
				</div>
			</div>
			<form class="find-pwd-form">
				<input type="text" name="find-pwd-email" placeholder="请输入您的邮箱" class="find-pwd-input"><a
					href="javascript:void(0);" class="find-pwd-btn">重置</a>
			</form>
			<div class="pwd-switch-wrap">
				<a href="javascript:void(0);" class="pwd-switch-to-login">又想起来了?</a>
			</div>
		</div>
	</div>
	<div class="tiny-info-box" rel="nofollow">
		<div class="tiny-info-bg">
		</div>
		<div class="tiny-info-wrap">
			<p>
			</p>
		</div>
	</div>
	<div class="footer">
		<div class="content-flexible">
			<ul class="footer-t">
				<li><a href="">关于我们</a></li>
				<li><a href="">版权声明</a></li>
				<li><a href="">VIP服务</a></li>
				<li><a href="">素材上传</a></li>
				<li><a href="">QQ群部落</a></li>
				<li style="border-right: none;"><a href="http://wpa.qq.com/msgrd?v=3&uin=373604177&site=qq&menu=yes"
						title="联系91素材网" rel="nofollow">在线客服</a></li>
			</ul>
			<ul class="footer-b">
				<li>Copyright&nbsp;?201891素材网&nbsp;&nbsp;&nbsp;</li>
				<li>&nbsp;&nbsp;浙ICP备16007586号-1&nbsp;&nbsp;</li>
				<li style="border-right: none;">&nbsp;&nbsp;浙公网安备&nbsp;33010902001056号&nbsp;&nbsp;</li>
				<li style="display:none;">0.0560</li>
			</ul>
		</div>
	</div>
	<div class="index-right-box">
		<ul>
			<li><a class="rbox-a rbox-boxshadow" href="" rel="nofollow" title="上传图片"><i class="rbox-i1"></i>
					<p>
						上传
					</p>
				</a></li>
			<li><a class="rbox-a rbox-boxshadow" href="" rel="nofollow" title="加入QQ群部落"><i class="rbox-i2"></i>
					<p>
						QQ群
					</p>
				</a>
				<div class="rbox-qqqun-wrap">
					<div class="rbox-qqqun-ww rbox-boxshadow">
						<ul>
							<li><a href=""><span class="rbox-qun-s1">91素材网设计交流8群</span><span
										class="rbox-qun-s2">加群</span></a></li>
							<li><a href=""><span class="rbox-qun-s1">91素材网美工UI设计</span><span
										class="rbox-qun-s2">加群</span></a></li>
							<li><a href=""><span class="rbox-qun-s1">91素材网设计资源共享</span><span
										class="rbox-qun-s2">加群</span></a></li>
							<li><a href=""><span class="rbox-qun-s1">重庆91素材网资深平面</span><span
										class="rbox-qun-s2">加群</span></a></li>
						</ul>
						<a href="" class="rbox-qqqun-all">更多QQ群部落>></a>
					</div>
				</div>
			</li>
			<li><a class="rbox-a rbox-boxshadow" href="http://wpa.qq.com/msgrd?v=3&uin=373604177&site=qq&menu=yes"
					rel="nofollow" title="联系客服"><i class="rbox-i3"></i>
					<p>
						客服
					</p>
				</a>
				<div class="rbox-kf-wrap">
					<div class="rbox-kf-ww rbox-boxshadow">
						<div class="rbox-kf-qq">
							<p>
								客服QQ&nbsp;:&nbsp;373604177
							</p>
							<a class="rbox-kf-qq-btn" title="联系91素材网"
								href="http://wpa.qq.com/msgrd?v=3&uin=373604177&site=qq&menu=yes"
								rel="nofollow">联系客服</a>
						</div>
						<div class="rbox-kf-wtime">
							<p>
								工作日&nbsp;:&nbsp;9:00-19:00
							</p>
						</div>
						<div class="rbox-kf-notice">
							<p>
								反馈时告知客服您的ID哦
							</p>
						</div>
					</div>
				</div>
			</li>
			<li id="right-gotop"><a class="rbox-a rbox-boxshadow" href="javascript:void(0);" title="返回顶部"><i
						class="rbox-i4"></i></a></li>
		</ul>
	</div>
	<script type="text/javascript" src="js/masonry.min.js?v=115"></script>
	<script type="text/javascript" src="js/jail.js?v=115"></script>
	<script>
		with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion=' + ~(-new Date() / 36e5)];
		window._bd_share_config = {
			common: {
				bdSnsKey: {},
				bdText: "",
				bdMini: "2",
				bdPic: "",
				bdStyle: "1",
				bdSize: "32"
			},
			share: {}
		};
		$(function () {
			$("#f-content").masonry({
				itemSelector: ".i-flow-item",
				singleMode: true,
				isAnimated: false,
				resizeable: true
			});
			$('img.lazy').jail();
		})
	</script>

</body>

</html>